<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>

        <%- include('_header');%>

        <h1>This is <%= title %> </h1>

        <%- include('_footer');%>
    </body>
</html> -->

<!-- write only variable part as it is exported to layout -->
<link rel="stylesheet" href="/css/home.css">
<h1>This is <%= title %> </h1>

<section id="feed-post">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type what you want to post..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>
