<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>

        <%- include('_header');%>

        <h1>This is <%= title %> </h1>

        <%- include('_footer');%>
    </body>
</html> -->

<!-- write only variable part as it is exported to layout -->
<link rel="stylesheet" href="/css/home.css">
<h1>This is <%= title %> </h1>
